{% extends 'base.html' %}

{% block title %}註冊{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login_regist.css') }}">
{% endblock %}

{% block main %}
    <h3 class="page-title">註冊</h3>
    <form method="POST">
        <div class="form-container">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="手機號碼" name="telephone">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="用戶名" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="密碼" name="password1">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="重複密碼" name="password2">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" >註冊</button>
            </div>
        </div>
    </form>
{% endblock %}